body {
  font-family: 'Roboto', sans-serif;
  color: #121212;
  background-color: #fff;
  text-align: center;
  margin: 0;
  padding: 20px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-container {
  max-width: 1500px;
  margin: 0 auto;
  background: #cecece;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Dos columnas */
.form-columns {
  display: flex;
  gap: 80px;
}

.column {
  flex: 1;
}

fieldset {
  border: none;
  padding: 10px;
  margin-bottom: 20px;
}

legend {
  font-size: 18px;
  color: #1f1f1f;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #2c2c2c;
  border-radius: 5px;
  background: #ddd;
  color: black;
}

textarea {
  height: 60px; /* Establece una altura fija */
  resize: none; /* Evita que se pueda cambiar el tamaño */
  overflow-y: auto; /* Habilita el scroll vertical cuando sea necesario */
}


.btns{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

 button {
    border: none;
    background-color: transparent;
  }
  
  button {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
  }
  button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(225, 225, 225, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }
  button span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  button svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  button:hover:before {
    width: 100%;
    background: #707070;
  }
  button:hover svg {
    transform: translateX(0);
  }
  button:active {
    transform: scale(0.96);
  }
  .submitBtn{
    margin-top: 20px;
  }


